h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5em 0; font-size: 1em; }
h1 { font-size: 1.5em; margin-top: 0; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }

body {position: relative;}

*, a.ui-btn {font-family: "Raleway";}

#tell_us_why .ui-btn {
	padding-top: 10px;
	font-size: 55px;
}

.jqm-demos .jqm-header {
	border-top:none;
}
.ui-field-contain .ui-controlgroup-controls {
	width: 100%;
}

.main-content {
	max-width: 600px;
	margin: 0px auto;
	text-align:center;
}

.transition {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.userNotifyCount {
	color: red;
	padding: 25px 0px 0px 10px;
}


.progressBar {
	text-align: center;
	padding: 10px;
}
.progressBar .progress {
	display: inline-block;
	border: thin #666 solid;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	margin: 5px;
}
.progressBar .progress.active {
	background: #aaa;
}


.photo_slider {
	position: relative;
	overflow: hidden;
}
.photo_slider .image, .photo_slider .ideaItem {
	position: absolute;
	left: 100%;
	display: none;
	z-index: 10;
}
.photo_slider .image.active,  .photo_slider .ideaItem.active  {
	z-index: 11;
}

#login {
	display: inline-block;
	height: 50px;
	margin: 0px auto;
}
#login:hover {
	cursor: pointer;
}

.entry, .user_choice_why_answered {
	position: relative;
}
.entry:hover .delete-entry, .user_choice_why_answered:hover .delete-entry {
	right: 0px;
}
.delete-entry {
	position: absolute;
	right: -150px;
	top: 0px;
	background: #d44;
	border: 2px #999 solid;
	color: white;
	width: 40px;
	font-size: 2.2em;
	border-radius: 75px;
	text-align:center;
}
.delete-entry:hover {
	cursor: pointer;
}

.icon_container {
	text-align: center;
	width: 60%;
	margin: 10px 20%;
}
.icon {
	background: url('/static/img/icons.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 44px;
	width: 44px;
	display: inline-block;
	border-radius: 25px;
}
.icon.commentIcon {background-position: 0px 0px;}
.icon.commentIcon:hover, .icon.commented {background-position: -44px 0px;cursor:pointer;}

.icon.love {background-position: -88px 0px;}
.icon.love:hover, .icon.loved {background-position: -132px 0px;cursor:pointer;}

.icon.save {background-position: -176px 0px;}
.icon.save:hover, .icon.saved {background-position: -220px 0px;cursor:pointer;}

.jqm-demos .jqm-header .ui-btn.icon.notify {
	background: url('/static/img/icons.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0px;
	box-shadow: none;
	height: 44px;
	width: 44px;
	top: 30%;
	display: inline-block;
	border-radius: 25px;
	border: none;
	background-position: -264px 0px;
	opacity: 1;
}
.jqm-demos .jqm-header .ui-btn.icon.notify.active {
	background-position: -308px 0px;
}

.jqm-search-panel .ui-panel-inner {
	padding-top: 1em;
}

.desktopContent {
	display: none;
}

.topPhoto {
	background: url('/static/img/topPhoto.jpg');
	background-size: cover;
}

.bottomPhoto {
	background: url('/static/img/bottomPhoto.jpg');
	background-size: cover;
	background-position: center;
}

.backgroundText {
	display:inline-block;
	padding:10px;
	font-weight:normal;
	font-size:2.2em;
	color:white;
	text-align:left;
	text-shadow: none;
}

.ui-page-theme-a .button.ui-btn{
	display: inline-block;
	background: #fc5d61; 
	color: #fdb65d !important;
	margin: 5px 0px;
	padding:10px 20px;
	text-shadow: none;
	font-size: 2em;
}

.ideaItem {
	width: 25%;
	height: 225px;
	margin: 0%;
	background: black;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.mobileContent .ideaItem {
	width:100%;
	height: auto;
}

.ideaHover {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	height: 100%;
	width: 100%;
	display: none;
}
.ideaItem:hover .ideaHover{
	display: block;
	cursor: pointer;
}
.mobileContent .ideaItem:hover .ideaHover{
	display: none;
}

.ideaHoverInner {
	margin: 10%;
	padding: 10%;
	background: rgba(255,255,255,.5);
	border-radius: 300px;
	width: 60%;
	height: 60%;
	overflow: hidden;
}
.ideaHover img {
	width: 50px;
	border-radius: 30px;
	position: absolute;
	top: 15px;
	left: 25px;
}
.mobileContent .ideaHover img {
	width: 15%;
	border-radius: 100px;
	position: absolute;
	top: 13%;
	left: 13%;
}
.mobileContent .ideaHover .name, .mobileContent .ideaHover .city {
	font-size: 1.8em;
}


.ideaItem .ideaImage {
	width: 100%;
}


.close {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px;
	padding: 5px 11px;
	background: #f66;
	color: white;
	border-radius: 20px;
}
.close:hover {
	cursor: pointer;
}

.mobileContent {
	display: block;
}

.comment {
	text-align:left;
	padding:10px;
	font-size:1.2em;
}
.comment img {
	background: #fff;
	float: left;
	margin-right: 10px;
	width:40px;
	padding: 0px;
	border-radius: 10px;
}


.smallmap #map_canvas {
	max-height: 250px;
}


.tagCont {
	
}
.tagCont .tags {
	display: inline-block;
	border: thin solid black;
	font-weight: bold;
	padding: 2px 12px;
	margin: 6px 3px;
}

.tagCont .tag {
	display:inline-block;
}
.tagCont .tag:hover .removetag {
	display:inline-block;
}
.tagCont .tag .removetag {
	display:none;
	border-radius: 50px;
	padding: 0px 6px;
	background: rgba(215, 0, 0, 0.49);
	text-shadow: none;
	cursor: pointer;
}

.mobile-hide {display: none;}

@media (min-width: 60em) {
	.mobile-hide {display: block;}
	
	.main-content {
		margin: 0px auto;
	}

	.desktopContent {
		display: block;
	}
	.mobileContent {
		display: none;
	}
	#map_canvas {
		max-height: none;
	}
	.desktopHalf {
		width:50%;
		display: inline-block;
	}
	
	.mapInfo {
		width: 45%;
	}
}

.col-sm-4 {
	width:24%;
	padding:4%;
	display:inline-block;
	vertical-align: top;
}
.hiddenDot {
	height:14px;
	width:14px;
	background: white;
	border-radius: 40px;
	display: inline-block;
	margin: 20px 5px;
}
.hiddenDot.active {
	background: grey;
}
@media (max-width: 60em) {

	.col-sm-4 {
		display:block;
		width:auto;
		position: absolute;
		left: 100%;
	}
	.col-sm-4.active {
	}
	
	.mapInfo {
		width: 96%;
		position: fixed;
		top: 100%;
		background: white;
	}
	.mapInfo .ideaCont {
		display:none;
	}
}

.arrowLeft, .arrowRight {
	border: 30px solid transparent;
	height: 0px;
	width: 0px;
	position:absolute;
	top:50%;
	z-index:20;
}
.arrowLeft {
	left:-20px;
	border-right: 20px solid white;
}
.arrowRight {
	right:-20px;
	border-left: 20px solid white;
}



.ui-content {
	padding:0;
}

/*.ui-shadow {
	display: none;
	box-shadow: none;
}*/

.ui-btn-active {
    color: #2F3E46 !important; 
    background: none !important; 
    background-color: #eee !important; 
    text-shadow: 0 /*{a-bup-shadow-x}*/ 
                 1px /*{a-bup-shadow-y}*/ 
                 0 /*{a-bup-shadow-radius}*/ 
                 #ffffff /*{a-bup-shadow-color}*/;  
}

.ui-page-theme-a .ui-btn.ui-btn-active {
	border-color: #ddd;
	text-shadow: none;
}

.ui-btn.ui-btn-active {
	border-color: none;
}

.ui-controlgroup-horizontal { text-align: center; }
.ui-controlgroup-controls { width: 100%;}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio {
	width: 33%;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio label {
	text-align: center;
}
.ui-page-theme-a .ui-btn { background: #fafafa; }

.user_photo img{
	border-radius: 65px;
}

#login a[data-role="button"].ui-btn{
	background: #479FFF;
	text-shadow: none;
}

a {
	color: black !important;
	text-decoration: none !important;
}

.ui-content .full_frame_text_box textarea   {
	padding: 60px;
	margin-top: -30px;
	font-size: 1.4em;
	position: relative;
	float: left;
}

.ui-content .full_frame_text_box textarea #placeholder_text  {
	position: absolute;
	left: 0;
}

.ui-field-contain>label~[class*=ui-] {
	width: 100%;
}

.ui-footer .ui-btn {
	font-size: 20px;
	max-width: 80%;
	height: 15px;
	display: inherit;
	border-style: none;

}

#footer_button {
	background-color: rgba(200,200,200,0.9);
	border: none;
	border-style: none;
}

#footer_button #bottom_add {
	width: 256px;
	text-align: center;
	background-color: white;
}


@media (max-width: 320px) {

#footer_button #bottom_add {
	width: 256px;
	text-align: center;
	background-color: white;
}
}

@media (min-width: 321px) {

#footer_button #bottom_add {
/*	width: 25%;
	padding-bottom: 10px;
	padding-right: 40px;*/
	padding-left: -10px;
	text-align: center;
	margin: 10px auto 20px;
}
}


#footer_button .ui-btn {
	background-color: white;
	padding-top: 5px;
	background-color: rgba(0,0,255,0);
	border-radius: none;
}

#footer_button .ui-btn .ui-btn-a:visited {
	background-color: grey;
}

.ui-page .ui-content .ui-btn.my-btn .ui-btn-inner {
    color      : green;
    background : red;
}

.getting_there {
	text-align: center;
	font-size: 23px;
	margin-top: -25px
}

.user_choice {
	text-align: center;
	font-size: 15px;
	padding: 0px 5px;
}

.front_user_choice{
	text-align: center;
	font-size: 22px;
	margin-top: -25px;
	line-height: 44px;
}

#front_user_choice_small{
	text-align: center;
	font-size: 18px;
	margin-top: 5px;
	font-weight: 10px;
}


.guest_book {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}


.user_choice_why {

	display: table;
	width: 100%;
	margin-bottom: 10px;

}

.user_choice_why img{
	background: #fff;
	display: inline-block;
/*	padding: 0 5% 10% 4%;*/
	display: table-cell;
	vertical-align: middle;
}

.user_choice_why h2{
	font-family: "Raleway";
	display: inline-block;
/*	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;*/
	padding-top: 0;
	font-size: 1rem;
	white-space: pre-wrap;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	margin-top: 10px;
}


/*.user_choice_why .centered h2 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}*/



/*Got rid of margin 5_15_14*/

.user_choice_why img{
	background: #fff;
	float: left;
/*	margin: 20px 0px 0 20px;*/
	padding: 0px;
	border-radius: 65px;
	margin-right: 10px;
}

.user_choice_why h3{
	background: #fff;
	padding: 8px;
	font-size: 14px;
}

.user_choice_why li .friend_answer_name{
	font-size: 12px;
	margin-right: 50px;
	padding-bottom: 50px;
}

.user_choice_why_answered ul {
	background: #fff;
	padding-left: 150px;
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: 13px;
}

.user_choice_why_answered img {
	background: #fff;
	float: left;
	margin: 25px 0px 0 25px;
	padding: 0px;
	border-radius: 65px;
}

.logistics_info {
	background: #E0E0E0;
}

.user_restaurant {
	text-align: center;
	font-size: 28px;
	margin-top: 10px;
	color: black;
	font-weight: 700;

}

.user_restaurant_order {
	text-align: center;
	font-size: 28px;
	margin-top: 10px;
	color: black;
	

}


.user_photo {
	text-align: center;
	/*margin-top: -47px;*/
}

.restaurant_photo {
	display: block;
	width: 100%;
	margin: 0px auto;
	
}
.restaurant_photo_bottom {
	width: 100%;
	margin: 0px auto;
	border-bottom: thin solid #ddd;
	text-align:left;
}

.restaurant_photo img {
	text-align: center;
	width:100%;
}

.my_last_eats h2 {
	background: #fff;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	font-size: 15px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.my_friends img{
	background: #fff;
	float: left;
	margin: 5px 10px 0 10px;
	padding: 0px;
	border-radius: 65px;
}

.my_friends h2{
	background: #fff;
	padding-left: 100px;
	padding-bottom: 18px;
	padding-top: 18px;
	font-size: 16px;
}

.my_friends_header h2 {
	text-align: center;
	font-size: 20px;
	margin-top: -20px;
	padding: 0 0 10px 0;
}

.request h1 {
	text-align: center;
	font-size: 16px;
}

.request_show h2 {
	text-align: center;
}

.traveling_to p {
	text-align: center;
}
/*.ui-title .ui-link img {

	width: 50px;
	height: 50px;
}
*/

#geocode #address {
  width: 100%;
}

#geocode input[type=button] {
	color:red;
	margin-top: 20px;
	width: 100%;
}

/*----------------------------------------------------------------
	InstaSlider Styles
----------------------------------------------------------------*/

.myslider{max-width:100%;border:1px solid gray;margin:0 auto; text-align: center;}
.instaslider-wrapper{max-width:100%;height:300px;background:#e7e7e7;overflow:hidden; text-align: center;}
.instaslider-wrapper ul{max-width:100%;list-style:none}
.instaslider-wrapper ul li{float:left}
div.error{width:100%;height:100%;background:rgba(0,0,0,0.6);color:#fff;font-family:arial;text-align:center}
div.error p{width:300px;line-height:180%;margin:0 auto;padding:167px 0 0}
.instaslider-wrapper ul li img{max-width:100%;height:auto}
.instaslider-nav{position:fixed;top:-50%;margin:-50px 0 0}
.instaslider-nav .prev{
	border:0;
	width:100px;
	height:200px;
	cursor:pointer;
	background: transparent;
	opacity: 0;
	text-indent:-9999px
}

.instaslider-nav .next{
	border:0;
	width:100px;
	height:200px;
	cursor:pointer;
	background: transparent;
	opacity: 0;
	text-indent:-9999px
}

.instaslider-nav .prev:hover{
	background-position:-2px -100px;
	background: transparent;
	opacity: 0;
}

.instaslider-nav .next:hover{
	background-position:-98px -100px;
	background: transparent;
	opacity: 0;
}

.instaslider-nav .prev{float:left;background:#072835 url(../img/arrow_sprite.png) 0 0}
.instaslider-nav .next{float:right;background:#072835 url(../img/arrow_sprite.png) -100px 0}
.instaslider-nav button.prev.ui-shadow.ui-corner-all {
	background: transparent;
	opacity: 0;
}

.instaslider-nav button.next.ui-shadow.ui-corner-all {
	background: transparent;
	opacity: 0.5;

}

/*----------------------------------------------------------------
	Google Maps
----------------------------------------------------------------*/

/*html { background: #fff url(../images/subtlepatterns.com/cubes.png) repeat 0 0; }*/
body { font: 12px/1.5 Verdana, sans-serif; color: #2a3333; padding-top:6.5em; }


a:link, a:focus, a:visited { color: #008595; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 0 0 1em; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

header { position:fixed; top:0; z-index:99999; width:100%; color:#fff; padding:1em; margin-bottom:2em; }
footer { color:#ccc; padding:1.5em 0; }
footer a:link, footer a:focus, footer a:hover, footer a:visited { color:#fff; }
footer h2 { color: #008595;}

ul, ol { padding:0; }
li { list-style: none inside none; display: block; margin: 0 0 0.2em; }
li.sel  a { color:#fff; }

/** General */
.content { padding:1em; margin:0 0 1.5em; }
/*.dark { background:#2a3333; }*/
.light { background:#fff; }
.hl { color: #ee2c74; }
.buttonize { cursor:pointer; text-shadow: 1px 1px 1px #222; font-weight:bold; color:#fff; padding: 5px 1em; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; background: -webkit-gradient(linear, left top, left bottom, from(#008595), to(#02748c)); background: -moz-linear-gradient(top, #008595, #02748c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#008595, endColorstr=#02748c)";}
.buttonize a:hover { text-decoration: none; }
.gradient { background:#fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea)); background: -moz-linear-gradient(top, #fff, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)"; }
.map { width: 100%; height:400px; }
.streetview { width:100%; height:300px; }
.lt { float:left; }
.rt { float:right; }
.clear { clear:both; }
.hidden { display:none; }
.txt-shadow-w { text-shadow: 1px 1px 1px #fff; }
.txt-shadow-b { text-shadow: 1px 1px 1px #222; }
.rounded { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; }
.shadow { -moz-box-shadow: 0px 2px 4px #999; -webkit-box-shadow: 0px 2px 4px #999; box-shadow: 0px 2px 4px #999; }
.item { /*padding:1em; margin:0 0 2em;*/ max-width: 100%; }

/** Benchmark */
div.benchmark { clear:both; overflow:auto; color:#fff; background: #02748c; padding: 1em; margin: 0 0 1em; }
div.benchmark .benchmark-result { display:block; font-size:18px; font-weight:bold; margin: 0 1em 0 0; line-height: 35px; }
div.benchmark .benchmark-iteration { font-weight:bold; margin:0; }
div.benchmark .benchmark-title { margin:0; }

/** Syntax highlighter */
pre.prettyprint { background:#f4f4f4; padding: 1.5em; border:none; margin: 0 0 1em; }

.summary { font-size:1.3em; cursor:pointer; color: #EE2C74; }
.ui-dialog-vevent .summary { margin:0.5em 0 0 0; display:block; }
.ui-dialog-vevent .dtstart { display:none; }
.ui-dialog-vevent .website { margin:0 0 1em; }

/** Forum */
.forum label, .forum input[type="text"] { margin: 0 1em 0 0; }
.forum label { font-weight:bold; }
.forum input[type="text"] { border:none; background:#fff; outline:none; padding:5px; width:200px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }