{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<script>
function startSlider(){
	if ($('.photo_slider img').first().height() > 0){
		$('.photo_slider').height($('.photo_slider img').first().height());
		$('.photo_slider img').first().show();
		$('.photo_slider').addClass('transition');
		$('.photo_slider img').first().addClass('active');
	}
	else {
		delayStart();
	}
}
function delayStart(){
	setTimeout(function(){
		startSlider();
	},10);
}
</script>

<script src="static/js/mapquest.js"></script>

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		<form action="add_last_eats_last" method="post" enctype='multipart/form-data' encoding='multipart/form-data'>
		{% if idea.filenames|length == 0 %}
			<p>No images were found for this location :(</p>
		{% else %}
		
			<input type='hidden' id='image' name='image' value='{{ idea.filenames[0]["url"] }}' />
			<p style='display: block;text-align: center;padding: 5px;'><b>Swipe</b> or <b>click</b> to find a photo you love!</p> 
			<br>
			<div class="restaurant_photo">
				<div class='photo_slider transition'>
				
				{% for img in idea.filenames %}
					{% if loop.index == 1 %}
						<img class='transition image' src="{{ img['url'] }}" style='left:0%;' onload='startSlider();' />
					{% else %}
						<img class='transition image' src="{{ img['url'] }}" />
					{% endif %}
				{% endfor %}
				</div>
				
				<input type="hidden" id="id" name="id" value="{{ id }}"/>
			</div>
		
		{% endif %}
		<br>
		<p style='display: block;text-align: center;padding: 5px;'>or upload your own image</h3>
		
		<input class='picture-file-input' type='file' name='picture' />
		
		<div class="form_next"><input type='submit' data-role="button" style="background: #grey; color: black;" value='Submit Last Eats' /></div>
		</form>
		
		<div class='progressBar'>
			<div class='progress active'></div>
			<div class='progress active'></div>
			<div class='progress active'></div>
			<div class='progress active'></div>
		</div>
		
		<div id="map_canvas"></div> 
		
		{% include "sidebars.html" %}
	
	</div>

</div>

{% endblock %}

{% block scripts %}

<script>

function moveOn(){
	
	var image = $('.photo_slider img.active').attr('src');
	var id = $('#id').val();

	$.ajax({
		url: 'add_last_eats_last',
		type: "post",
		data: {'image': image, 'id': id},
		success: function(value) {
			window.location = "/profile";
		}
	});
}

$(document).on('pageinit', function(event){
	$(".photo_slider").swipeleft(function() {
		swipePhoto(1);
	});
	
	$(".photo_slider").swiperight(function() {
		swipePhoto(-1);
	});
	
	$(".photo_slider").click(function() {
		swipePhoto();
	});
	$('.photo_slider img').on('dragstart', function(event) { event.preventDefault(); });
});

function swipePhoto(dir){
	
	if (dir == 1){
		var old = $('.photo_slider img.active');
		old.css('left', '-100%');
		old.removeClass('active');
		var next = old.next();
		if (next.length == 0){
			next = $('.photo_slider img').first();}
		next.show();
		$('#image').val(next.attr('src'));
		
		setTimeout(function(){
			next.css('left','0%');
			next.addClass('active');
			$('.photo_slider').height(next.height());
			setTimeout(function(){
				old.css('left','100%');
				old.hide();
			},200);
		}, 10);
	}
	else {
		var old = $('.photo_slider img.active');
		old.css('left', '100%');
		old.removeClass('active');
		var next = old.prev();
		if (next.length == 0){
			next = $('.photo_slider img').last();}
		next.css('left','-100%');
		next.show();
		$('#image').val(next.attr('src'));
		
		setTimeout(function(){
			next.css('left','0%');
			next.addClass('active');
			$('.photo_slider').height(next.height());
			setTimeout(function(){
				old.hide();
			},200);
		}, 10);
	}
}

</script>

{% endblock %}
