{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		<div class="full_frame_text_box" data-role="fieldcontain">
			<div class='error_message' style='display:none;padding:5px 0px;margin:5px 0px 30px;background:#faa;'></div>
			<label for="textarea"></label>
			<textarea onKeyDown="limitText(this);" onKeyUp="limitText(this);" cols="40" 
				rows="8" name="textarea" id='idea' class="foo" placeholder="What makes it so special to you?"></textarea>
			<input type="hidden" id="id" name="id" value="{{ id }}"/>
		</div>
		
		<div class="form_next"><a onclick='moveOn()' data-role="button" style="background: #grey; color: black;">And What Would You Order?</a></div>
		
		<!--    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
		<input type="radio" name="radio-choice-h-8" id="radio-choice-h-8a" value="on" checked="checked">
		<label for="radio-choice-h-8a">$</label>
		<input type="radio" name="radio-choice-h-8" id="radio-choice-h-8b" value="off">
		<label for="radio-choice-h-8b">$$</label>
		<input type="radio" name="radio-choice-h-8" id="radio-choice-h-8c" value="other">
		<label for="radio-choice-h-8c">$$$</label>
		<input type="radio" name="radio-choice-h-8" id="radio-choice-h-8d" value="other">
		<label for="radio-choice-h-8d">$$$$</label>
		</fieldset> -->
		
		<div id="map_canvas"></div>
		{% include "sidebars.html" %}
	</div><!-- /panel -->
</div>

{% endblock %}

{% block scripts %}

<script>

function moveOn(){
	
	var idea = $('#idea').val();
	var id = $('#id').val();
	
	if (idea.length == 0){
		$('.error_message').html('Please enter your description');
		$('.error_message').show();
	}
	else {
		$.ajax({
			url: 'add_last_eats_next',
			type: "post",
			data: {'idea': idea, 'id': id},
			success: function(value) {
				console.log(value);
				window.location = "/add_last_eats_last?id="+value.id;
			}
		});
	}
}

function limitText(limitField) {
	if (limitField.value.length > 140) {
		limitField.value = limitField.value.substring(0, 140);
	}
}

</script>

<script src="static/js/mapquest.js"></script>

{% endblock %}


