{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
	
		</br>
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong><p>Add Your Last Eats</p></strong>
		</div><!-- /demo-html -->
		
		<p>If I only had time for one meal in:</p>
		<label for="textinput-4" class="ui-hidden-accessible">Text Input:</label>
		<div class='error_message' style='display:none;padding:5px 0px;margin:5px 0px;background:#faa;'></div>
		<input type="text" name="textinput-4" id="textinput-4" placeholder="Enter a City" value="">
		</br>
		<p>I'd go to:</p>
		<div id="geocode">
			<input id="address" class="controls" type="text" placeholder="Enter a Restaurant" value="">
			<input type="hidden" id="addressName" name="addressName" />
			<input type="hidden" id="addressLat" name="addressLat" />
			<input type="hidden" id="addressLng" name="addressLng" />
		</div> 
		
		<!-- This is the button used for (dropping a pin on map, via google maps api), and seems necessary for including for autocomplete field to work -->
		<input type="hidden" value="Drop your pin" onclick="codeAddress()">
		
		<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
			<input type="radio" name="cost" id="radio-choice-h-8a" value="1" checked="checked">
			<label for="radio-choice-h-8a">$</label>
			<input type="radio" name="cost" id="radio-choice-h-8b" value="2">
			<label for="radio-choice-h-8b">$$</label>
			<input type="radio" name="cost" id="radio-choice-h-8c" value="3">
			<label for="radio-choice-h-8c">$$$</label>
			<input type="radio" name="cost" id="radio-choice-h-8d" value="4">
			<label for="radio-choice-h-8d">$$$$</label>
		</fieldset>
		
		</br>
		
		<div class="form_next"><a data-role="button" style="background: #grey; color: black;" onclick='moveOn()'>Tell us more!</a></div>
		
		<!--    <label for="submit-8" class="ui-hidden-accessible">Send:</label>
		<button type="submit" id="submit-8" class="ui-shadow ui-btn ui-corner-all ui-mini">Submit</button>
		 -->
		
		<div id="map_canvas"></div> 
		
		{% include "sidebars.html" %}
	
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>
var ajax_loading = 0;
function moveOn(){
	
	var city = $('#textinput-4').val();
	var addressName = $('#addressName').val();
	var addressLat = $('#addressLat').val();
	var addressLng = $('#addressLng').val();
	var cost = $('input[name=cost]:checked').val();
	var warned = false;
	if ($('.error_message').css('display') != 'none'){
		warned = true;}
	
	$('.form_next a').html('Loading . . . ');
	if (ajax_loading == 0){
		ajax_loading = 1;
		$.ajax({
			url: 'add_last_eats',
			type: "post",
			data: {'city': city,
					'addressName': addressName,
					'addressLat': addressLat,
					'addressLng': addressLng,
					'cost': cost,
					'warned': warned},
			success: function(value) {
				ajax_loading = 0;
				console.log(value);
				if('error' in value && $('.error_message').css('display') == 'none'){
					$('.error_message').html(value.error);
					$('.error_message').show();
					$('.form_next a').html('Tell us more!');
				}
				else{
					window.location = "/add_last_eats_next?id="+value.id;
				}
			}
		});
	}
	
}

</script>

<script src="static/js/mapquest.js"></script>

{% endblock %}


