{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		{% if first %}
		<div class='submission' style='background:yellow;padding:10px 0px;font-size:16px;'>
			<a onclick='$(this).parent().remove();' style='float: right;cursor: pointer;padding: 7px 14px;
				background: white;margin: 5px;border-radius: 30px;border: thin solid black;'>X</a>
			Thanks! Your Last Eats request for {{first}} has been sent. <br>
			<a href='/le_requests'>Request Another Last Eats</a> or <a href='/newsfeed'>Browse</a>
		</div>
		<br>
		{%endif%}
		
		<div class='my_friends_header'><h2>Requests for you</h2></div>
		{% for item in open_requests -%}
			<a href="/add_last_eats?requestid={{ item.id }}" class="my_friends">
				<img src="{{ friends[item.userid].picture }}" height="50" width="50">
				<h2>{{ friends[item.userid].user_name }} wants to know what you would eat in {{ item.title }}</h2>
			</a>
		{%- endfor %}
		<br><br>
		
		<div class='my_friends_header'><h2>Your Requests</h2></div>
		{% for item in requests -%}
			<div>
				<h2>Request for {{ item.title }}</h2>
				
				{% for row in ideas[requestIds[loop.index0]] -%}
				<a href="/last_eat_entry/{{ row.id }}">
					{{ friends[row.userid].user_name }} would eat at {{ row.restaurant_name }}
				</a>
				{%- endfor %}
				
				{% for row in item.friends -%}
					<div>{{ friends[row].user_name }} {{ friends[row].user_last_name }}</div>
				{%- endfor %}
			</div>
		{%- endfor %}
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
		
	</div>
</div>

{% endblock %}


