{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header_small.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		
		<div class="user_photo"><img src="static/assets/img/new_user.png" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong><p>Welcome!</p></strong>
		</div><!-- /demo-html -->
		
		{% for item in ideas -%}
		<a href="/last_eat_entry?id={{ item.id }}" data-role="button">
			<div class="user_choice_why">
				<img src="{{ friends[item.userid].picture }}" height="85" width="85">
				<h2>{{ friends[item.userid].user_name }} just made <strong>{{ item.restaurant_name }}</strong> his Last Eats in {{ item.title }}</h2>
			</div>
			<div class="restaurant_photo"><img src="{{ item.filename }}"></div>
		</a>
		{%- endfor %}
		
	</div>
	
</div><!-- /page -->
{% endblock %}

