{% extends "layout.html" %}


{% block body %}

<!-- <div class="row">

	<!-- left column 
	<div class="span6">
		<h3>Others who chose: {{ current_category.get('name')|title }}</h3>
		<br>
		{% for idea in ideas %}
		<h4>By {{ idea.creator }} from {{ idea.title }}</h4>
		<h4>Reason for Travel<a href="/ideas/{{ idea.slug }}"> {{ idea.idea }}</a></h4>
			<p>
			{% for cat in idea.categories %}
				<span class="label label-inverse"><a href="/category/{{ cat}}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span6">
		<h3>Destinations</h3>
		<ul>
		{% for cat in categories %}
		<li><a href="/category/{{ cat|replace(" ","_") }}">{{ cat|title }}</a></li>
		{% endfor %}
		</ul>

		<br><br>

		<a href="/" class="btn btn-large btn-info">Add Your Idea</a>
	</div>

	

	

</div> -->

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}