{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% if user != None %}
		{% include "header.html" %}
	{% else %}
		{% include "header_med.html" %}
	{% endif %}
	
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
	
		</br>
		<div class="user_restaurant">
			<strong><p>Last Eats in {{ city }}</p></strong>
		</div><!-- /demo-html -->
		
		<div class='newsfeed'>
			<div  class='loading' style='text-align:center;'>Loading . . . .</div>
		</div>
		
		{% if user != None %}
			{% include "add_button.html" %}
			{% include "sidebars.html" %}
		{% else %}
			{% include "sidebars_small.html" %}
		{% endif %}
		
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
	var LATITUDE = undefined;
	var LONGITUDE = undefined;
	
	$(document).ready(function(){
		// Try W3C Geolocation (Preferred)
		if(navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition(function(position) {
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				
				LATITUDE = position.coords.latitude;
				LONGITUDE = position.coords.longitude;
				
				if ({{ user.friends|length }} > 0){
					get_newsfeed('friends');
				}
				else {
					get_newsfeed('all');
				}
				
			}, function() { handleNoGeolocation(browserSupportFlag); });
		}
		// Browser doesn't support Geolocation
		else {
			browserSupportFlag = false;
			handleNoGeolocation(browserSupportFlag);
		}
	});
	
	function handleNoGeolocation(errorFlag) {
		if (errorFlag) {
			console.log('Error: The Geolocation service failed.');}
		else {
			console.log('Error: Your browser doesn\'t support geolocation.');}
			
		get_newsfeed();
	}
	
	var offset = 0;
	var endScroll = 0;
	var lastType = '';
	function get_newsfeed(){
		if (endScroll == 0){
			$.ajax({
				url: 'city',
				type: "post",
				data: {'city': "{{ city }}",'lat': LATITUDE, 'lng': LONGITUDE},
				success: function(value) {
					$('.newsfeed .loading').remove();
					if (value.indexOf("endscroll") > -1){
						endScroll = 1;
						if (offset == 0){
							$('.newsfeed').append(value);
						}
					}
					else {
						$('.newsfeed').append(value);
					}
				}
			});
		}
	}
</script>

{% endblock %}

