{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% if user != None %}
		{% include "header.html" %}
	{% else %}
		{% include "header_med.html" %}
	{% endif %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		<div class="my_friends_header">
			<strong><h2>Browse By City</h2></strong>
		</div>
		
		<input type="search" name="search" id="search-basic" value="" placeholder='Search' autocomplete="off"/>
		
		<div class='cityContainer'>
		{% for item in list -%}
			<a class='city' href="/city?name={{ item }}" title="Friend Profile" onclick='toggleItems("{{ item|replace(' ','_') }}")'><div class="my_friends">
				<!--<img src="{{ item.picture }}" height="50" width="50">-->
				<h2 style='padding-left:20px;'>{{ cities[item] }} ({{ count[loop.index0] }})</h2>
			</div></a>
		{%- endfor %}
		</div>
		
		{% if user != None %}
			{% include "add_button.html" %}
			{% include "sidebars.html" %}
		{% else %}
			{% include "sidebars_small.html" %}
		{% endif %}
		
		
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>

$(document).on('pageinit', function(event){
	$('.ui-input-clear').click(function(){search();});
	$('#search-basic').keyup(function(){search();});
});

function search(){
	var s = $('#search-basic').val().toLowerCase();
	var i = 0;
	$('.cityContainer .city').hide();
	$('.cityContainer .city').each(function(){
		var city = $(this).children('.my_friends').children('h2').html();
		if(city.toLowerCase().indexOf(s) > -1){
			$(this).show();
		}
	});
}

function toggleItems(item){
	var old = $('.city.active');
	old.height('0px');
	old.removeClass('active');
	setTimeout(function(){
		old.hide();
	},200);
	
	if (!old.hasClass(item)){
		var temp = $('.city.'+item);
		var height = 0;
		temp.show();
		setTimeout(function(){
			$('.'+item+' a').each(function(){
				height += $(this).height() + parseInt($(this).css('padding-top'))*2 + parseInt($(this).css('margin-top'))*2;
			});
			
			temp.show();
			temp.addClass('active');
			setTimeout(function(){
				temp.height(height);
			},5);
		},5);
	}
}
</script>

{% endblock %}