{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content" data-ajax-warning="false">
	
		</br>
		<div class="user_photo"><img src="{{ friend.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong><p>{{ friend.user_name }}'s Last Eats</p></strong>
		</div><!-- /demo-html -->
		
		{% for item in ideas -%}
		<a href="/last_eat_entry?id={{ item.id }}" data-role="button">
			<strong>{{ item.restaurant_name }} in {{ item.title }}</strong>
			<div class="my_last_eats"></div>
			
			<div class="restaurant_photo"><img src="{{ item.filename }}"></div>
		</a>
		{%- endfor %}
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
		
	</div>
</div>

<div class="jqm-content" data-ajax-warning="false"></div>

{% endblock %}