{% extends "skeleton.html" %}
{% block style %}
<meta property="og:image" content="http://beta.lasteats.com/static/assets/img/CURRENT_LOGO_WHITE.png">

<meta name="Description" content="Find the best meals chosen by your friends for cities all over the world.">

{% endblock %} 

{% block body %}

<style>
	@media (min-width: 60em) {
		.main-content {
			max-width:900px;
		}
	}
</style>

<script>
function startSlider(){
	if ($('.photo_slider .ideaItem').first().height() > 0){
		$('.photo_slider').height($('.photo_slider .ideaItem').first().height());
		$('.photo_slider .ideaItem').first().show();
		$('.photo_slider').addClass('transition');
		$('.photo_slider .ideaItem').first().addClass('active');
	}
	else {
		delayStart();
	}
}
function delayStart(){
	setTimeout(function(){
		startSlider();
	},10);
}
</script>

{% include "facebook.html" %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header_small.html" %}
	
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false" style='padding-top:0px;'>
		
		<div class='mobileContent'>
			<div class='topPhoto'>
				<br><br><br>
				<img src="/static/assets/img/CURRENT_LOGO_WHITE.png" onclick='openCover()' height="125" width="125" style=''>
				<br><br><br>
				
				<h2 class='backgroundText' style='padding:10px 30px;'>
					Find <b>the best meals</b> chosen by <br><b>your friends</b> for cities all <b>over the world.</b>
				</h2>
				
				<div style=''>
					<a data-role="button" class="button"  onclick='openCover()' style='border:none;'>Join Last Eats</a>
				</div>
				<br><br>
			</div>
			
			<div style='width:100%;clear:both;'></div>
			<br><br>
			
			<h1 style='font-size:2em;font-weight:normal;'>Recent Last Eats Declarations</h1>
			<h2 style='font-weight:normal;'>The best, most recently added restaurants</h2>
			<br><br>
			
			<div class='photo_slider' style='position:relative;'>
				{% for item in ideas -%}
					{% if loop.index0 == 0 %}
					<div class='ideaItem transition' style='left:0%;'>
						<img class='ideaImage' src='{{ item.filename['url'] }}' onload='startSlider();' />
					{% else %}
					<div class='ideaItem transition'>
						<img class='ideaImage' src='{{ item.filename['url'] }}' />
					{% endif  %}
						
						<a style='background:rgba(255,255,255,.5);' class='ideaHover' href="last_eat_entry/{{ item.id }}">
							<div class='ideaHoverInner' style='font-size: 1.2em;font-weight: normal;'>
								<img src='{{ friends[item.userid].picture }}' />
								<br><br>
								<div class='name'><b>{{ item.restaurant_name }}</b></div>
								<div class='city'>{{ item.display_city }}</div>
							</div>
						</a>
					</div>
				{%- endfor %}
			
				<div style='border: 40px solid transparent;border-right: 25px solid white;height: 0px;width: 0px;position:absolute;left:-25px;top:50%;z-index:20;'></div>
				<div style='border: 40px solid transparent;border-left: 25px solid white;height: 0px;width: 0px;position:absolute;right:-25px;top:50%;z-index:20;'></div>
			</div>
			
			<div style='background:#efefef;'>
			<br><br><br><br>
			<h1 style='font-size:2em;font-weight:normal;'>Your recommendations count.</h1>
			<h2 style='font-weight:normal;'>Help spread the word.</h2>
			<br>
			
			<a href='https://www.facebook.com/sharer/sharer.php?src=sp&u=http://beta.lasteats.com/'><img style='width:60px;padding:10px;' src='/static/img/facebookIcon.png' /></a>
			<a href='https://twitter.com/intent/tweet?text=http://beta.lasteats.com/'><img style='width:60px;padding:10px;' src='/static/img/twitterIcon.png' /></a>
			<br><br><br><br>
			</div>
			
			<div class='bottomPhoto' style='text-align:center;'>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<h2 class='backgroundText' style='padding:10px 30px;'>
					If you only had time for one great meal in<br> {{ locationIdea.title }}, where would you go?</h2><br><br><br>
				<a href="/city?name={{ locationIdea.title }}" data-role="button" style="display: inline-block;background: #grey; color: black;width: 213px;margin: 5px 0px;">Browse Last Eats <br>in {{ locationIdea.title }}</a>
				<br><br><br><br><br>
			</div>
		</div>
		
		
		<div class='desktopContent'>
			<div class='topPhoto'>
				<br><br><br>
				<img src="/static/assets/img/CURRENT_LOGO_WHITE.png" onclick='openCover()' height="125" width="125" style=''>
				<br><br><br>
				
				<h2 class='backgroundText'>
					Find <b>the best meals</b> chosen by <br><b>your friends</b> for cities all <b>over the world.</b>
				</h2>
				
				<div style=''>
					<a data-role="button" class="button"  onclick='openCover()' style='border:none;'>Join Last Eats</a>
				</div>
				<br><br>
			</div>
			
			
			<div style='width:100%;clear:both;'></div>
			<br><br>
			
			<h1 style='font-size:2em;font-weight:normal;'>Recent Last Eats Declarations</h1>
			<h2 style='font-weight:normal;'>The best, most recently added restaurants</h2>
			<br><br>
			{% for item in ideas -%}
				<a class='ideaItem' href="last_eat_entry/{{ item.id }}">
					<img class='ideaImage' src='{{ item.filename['url'] }}' />
					<div style='background:rgba(255,255,255,.5);' class='ideaHover'>
					<div class='ideaHoverInner' style='font-size: 1.2em;font-weight: normal;'>
						<img src='{{ friends[item.userid].picture }}' />
						<br>
						<div class='name'><b>{{ item.restaurant_name }}</b></div>
						<div class='city'>{{ item.display_city }}</div>
					</div></div>
				</a>
			{%- endfor %}
			
			<div style='background:#efefef;'>
			<br><br><br><br>
			<h1 style='font-size:2em;font-weight:normal;'>Your recommendations count.</h1>
			<h2 style='font-weight:normal;'>Help spread the word.</h2>
			<br>
			
			<a href='https://www.facebook.com/sharer/sharer.php?src=sp&u=http://beta.lasteats.com/'><img style='width:60px;padding:10px;' src='/static/img/facebookIcon.png' /></a>
			<a href='https://twitter.com/intent/tweet?text=http://beta.lasteats.com/'><img style='width:60px;padding:10px;' src='/static/img/twitterIcon.png' /></a>
			<br><br><br><br>
			</div>
			
			<div class='bottomPhoto' style='text-align:center;'>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				<h2 class='backgroundText'>
					If you only had time for one great meal in<br> {{ locationIdea.title }}, where would you go?</h2><br><br><br>
				<a href="/city?name={{ locationIdea.title }}" data-role="button" style="display: inline-block;background: #grey; color: black;width: 213px;margin: 5px 0px;">Browse Last Eats <br>in {{ locationIdea.title }}</a>
				<br><br><br><br><br><br><br>
			</div>
			
			<div style='background:#efefef;'>
				<br><br><br>
				<h1 style='display:inline-block;font-size:3em;font-weight:normal;vertical-align:top;padding-right:15px;'>Hungry yet?</h1>
				<img id="login" onclick="FB.login(function(response) {if (response.authResponse) {testAPI();}else {}}, { scope: 'email' });" src='/static/img/fbook.jpg' style='margin-top:10px;height:40px;'/><br>
				<br><br><br>
			</div>
			
			{% if users != None %}
				{% for item in users -%}
					<div style='margin:4px;padding:4px;display:inline-block;'><img src='{{ item.picture }}' style='width:50px;border-radius:50px;'><a href='/?userid={{ item.userid }}'>{{ item.user_name }} {{ item.user_last_name }}</a></div>
				{%- endfor %}
			{% else %}
				<div style='text-align:center;'><img id="login" onclick="FB.login(function(response) {if (response.authResponse) {testAPI();}else {}}, { scope: 'email' });" src='/static/img/fbook.jpg' /></div>
			{% endif %}
			
		</div>
	</div><!-- /page -->
	
	<div class='footer' style='background:#c5c5c5;text-align:center;width:100%;'>
		<br><br>
		<a href='mailto:lasteats@gmail.com'>Contact Us</a>
		<br><br>
	</div>
	
	<div class='cover' style='position:fixed;width:100%;height:100%;top:0px;left:0px;background:rgba(255,255,255,.5);display:none;text-align:center;'>
		<div style='position:relative;margin:100px 0px;display:inline-block;background:white;padding:60px;text-align:center;border:2px solid #aaa;'>
			<div class='close' onclick='closeCover()'>x</div>
			<div style='display:inline-block;vertical-align:top;'>
				<img id="login" onclick="FB.login(function(response) {if (response.authResponse) {testAPI();}else {}}, { scope: 'email' });" src='/static/img/fbook.jpg' style='height:40px;' />
			</div><br><br>
			<div style='display:inline-block;vertical-align:top;'><img id="login" src='/static/img/twitter.jpg' style='opacity:.3;height:40px;' /><div>Coming Soon!</div></div>
		</div>
	</div>
	
</div><!-- /panel -->



{% endblock %}


{% block scripts %}

<script>
	function closeCover(){
		$('.cover').hide();
	}
	function openCover(){
		$('.cover').show();
	}
	
	
	$(document).on('pageinit', function(event){
		$(".photo_slider").swipeleft(function() {
			swipePhoto(1);
		});
		
		$(".photo_slider").swiperight(function() {
			swipePhoto(-1);
		});
		
		$('.photo_slider img').on('dragstart', function(event) { event.preventDefault(); });
		
		$('.ideaItem').on('click',function(){
	        $(this).children('.ideaHover').show();
	    });
	});
	
	function swipePhoto(dir){
		
		if (dir == 1){
			var old = $('.photo_slider .ideaItem.active');
			old.css('left', '-100%');
			old.removeClass('active');
			var next = old.next('.photo_slider .ideaItem');
			if (next.length == 0){
				next = $('.photo_slider .ideaItem').first();}
			next.show();
			
			setTimeout(function(){
				next.css('left','0%');
				next.addClass('active');
				$('.photo_slider').height(next.height());
				setTimeout(function(){
					old.css('left','100%');
					old.hide();
				},200);
			}, 10);
		}
		else {
			var old = $('.photo_slider .ideaItem.active');
			old.css('left', '100%');
			old.removeClass('active');
			var next = old.prev('');
			if (next.length == 0){
				next = $('.photo_slider .ideaItem').last();}
			next.css('left','-100%');
			next.show();
			
			setTimeout(function(){
				next.css('left','0%');
				next.addClass('active');
				$('.photo_slider').height(next.height());
				setTimeout(function(){
					old.hide();
				},200);
			}, 10);
		}
	}
	
</script>
{% endblock %}


