{% extends "skeleton.html" %}

{% block style %}
<meta property="og:image" content="{{ idea.filename['url'] }}">

<meta name="Description" CONTENT="{{ friend.user_name }} {{ friend.user_last_name }} just made {{ idea.restaurant_name }} the Last Eats in {{ idea.title }}">

{% endblock %}

{% block body %}
	
<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% if current_user != None %}
		{% include "header.html" %}
	{% else %}
		{% include "header_med.html" %}
	{% endif %}
		
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		{% if first %}
		<div class='submission' style='background:yellow;padding:10px 0px;font-size:16px;'>
			<a onclick='$(this).parent().remove();' style='float: right;cursor: pointer;padding: 7px 14px;
				background: white;margin: 5px;border-radius: 30px;border: thin solid black;'>X</a>
			Thanks for your submission! Your Last Eats has been saved.<br>
			<a href='/add_last_eats'>Add Another</a> or <a href='/newsfeed'>browse</a>
		</div>
		<br>
		{%endif%}
		
		<div class="user_photo"><img src="{{ friend.picture  }}" height="125" width="125"></div>
		<div class="user_choice"><p><strong>{{ friend.user_name }} {{ friend.user_last_name }}</strong></p></div>
		
		<div class="user_choice">
			<p>If I only had time for one meal in <strong>{{ idea.full_city.replace(', United States','') }}</strong>, I'd go to:</p>
		</div>
		
		<div class="user_restaurant">
			<strong>{{ idea.restaurant_name }}</strong>
		</div><!-- /demo-html -->
		
		<div class='tagCont'>
			{% for key in tags %}
				{% if key in ['Great for','Price','Type'] %}
				<div class='tags'>
					{{key}}: {% for tag in tags[key] %}{%if loop.index > 1%}, {%endif%}
						<div class='tag'>{{ tag.text }} 
							{% if user.userid == idea.userid %}
							<div class='removetag' onclick='removetag(this,"{{idea.id}}","{{key}}","{{tag.text}}")'>x</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				{%endif%}
			{% endfor %}
		</div>
		
		{% if current_user != None %}
		<table class='icon_container' num="{{ idea.id }}" ><tr>
			<td width='33%'><a class='icon commentIcon' href='#guest_book'></a></td>
			{% if user.userid in idea.likes %}
				<td width='33%'><div class='icon loveicon loved' onclick='loveIdea(this, "{{ idea.id }}")'></div></td>
			{% else %}
				<td width='33%'><div class='icon loveicon love' onclick='loveIdea(this, "{{ idea.id }}")'></div></td>
			{% endif %}
			
			{% if idea_id in user.saves %}
				<td width='33%'><div class='icon saveicon saved' onclick='saveIdea(this, "{{ idea.id }}")'></div></td>
			{% else %}
				<td width='33%'><div class='icon saveicon save' onclick='saveIdea(this, "{{ idea.id }}")'></div></td>
			{% endif %}
		</tr></table>
		{% endif %}
		
		<div class="user_choice_why">
			<h3>{{ idea.idea }}</h3>
		</div>
		
		<div class="user_restaurant">
			<h4>Order</h4>
		</div><!-- /demo-html -->
		<div class="user_choice_why">
			<h3>{{ idea.order }}</h3>
		</div><!-- /demo-html -->
		
		<div class="restaurant_photo" style='text-align:left;'>
			<img src="{{ idea.filename['url'] }}"><br>
		</div>
		<div class="restaurant_photo_bottom" num="{{ idea.id }}" style='text-align:left;'>
			<div style='float:right;'>
				<a href='https://www.facebook.com/dialog/feed?app_id=238836302966820&link=http://beta.lasteats.com/last_eat_entry/{{ idea.id }}&redirect_uri=http://beta.lasteats.com/newsfeed'>
				<img class='facebookIcon' src='/static/img/facebookIcon.png' style='width:44px;' /></a>
				<a href='https://twitter.com/intent/tweet?text=http://beta.lasteats.com/last_eat_entry/{{ idea.id }}' target='_blank'><img class='twitterIcon' src='/static/img/twitterIcon.png' style='width:44px;' /></a>
			</div>
			
			{% if user.userid in idea.likes %}
				<div class='icon loveicon loved' onclick='loveIdea(this, "{{ idea.id }}")'></div>
			{% else %}
				<div class='icon loveicon love' onclick='loveIdea(this, "{{ idea.id }}")'></div>
			{% endif %}
			
			{% if idea_id in user.saves %}
				<div class='icon saveicon saved' onclick='saveIdea(this, "{{ idea.id }}")'></div>
			{% else %}
				<div class='icon saveicon save' onclick='saveIdea(this, "{{ idea.id }}")'></div>
			{% endif %}
			
			<div style='display: inline-block;vertical-align: top;font-size: 1.2em;padding: 10px 5px;'>
				<div class='likeCount' style='display:inline-block;'>{{ idea.like_count }}</div> people love this</div>
		</div>
		<br>
		
		{% if current_user != None %}
			<div class='comments' num='{{ idea.id }}'>
			{% for comment in comments -%}
				<div class="comment entry">
					<img src="{{ friends[comment.userid].picture }}"/>
					<span><strong>{{ friends[comment.userid].user_name }} {{ friends[comment.userid].user_last_name }}</strong></span>
					<span>{{ comment.comment_string }}</span>
					
					{% if current_user == comment.userid %}
						<div class='delete-entry transition' onclick='delete_comment(this, "{{ comment.id }}")' >X</div>
					{% endif %}
					<div style='clear:both;width:100%;'></div>
					
				</div>
				
			{%- endfor %}
			</div>
			<div class="guest_book" id='guest_book' num='{{ idea.id }}'>
				<textarea name="textarea" id="textarea" placeholder="Been here? Tell {{ friend.user_name }} about your experience" style='padding:10px;' 
				class='ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow'></textarea>
			</div><!-- /demo-html -->
			<br><br>
			{% include "sidebars.html" %}
		
		{% else %}
			{% include "sidebars_small.html" %}
			
		{% endif %}
		
		<div class="container_16"></div>
		<article class="grid_16"></article>
		<div class="item rounded dark smallmap">
			<div class='map_data lat' style='display:none;'>{{ idea.point.coordinates[1] }}</div>
			<div class='map_data lng' style='display:none;'>{{ idea.point.coordinates[0] }}</div>
			
			<div id="map_canvas" class="map rounded" ></div>
		</div>
		
		<div class="ideaInfo" style='padding:10px;margin:5px;background:white;font-size:14px;text-align:left;'>
			{% if idea.address %}
			<div>{{ idea.address }}</div><br>
			<div>Phone:  {{ idea.phone }}</div><br>
			{% endif %}
			{% for day in idea.hours %}
				{% if day|length > 0 %}
				<div>
					<span>{{ days[loop.index0] }}</span>
				</div>
				{% endif %}
			{% endfor %}

		</div>
		
		<div>
			<h1>Other Info:</h1>
			<div class='tagCont'>
				{% for key in tags %}
					{% if key not in ['Great for','Price','Type'] %}
					<div class='tag'>
					{{key}}: {% for tag in tags[key] %}{%if loop.index > 1%}, {%endif%}
						<div class='tag'>{{ tag.text }} 
							{% if user.userid == idea.userid %}
							<div class='removetag' onclick='removetag(this,"{{idea.id}}","{{key}}","{{tag.text}}")'>x</div>
							{% endif %}
						</div>
					{% endfor %}
					</div>
					{%endif%}
				{% endfor %}
			</div>
		</div>
		</br>
	</div>
</div><!-- /page -->

{% endblock %}

{% block scripts %}
	
	<script src="/static/js/mapquest.js"></script>
	
	<script>
	$(document).on('pageinit', function(event){
		$(".user_choice_why_answered").live('swipeleft', function() {
			show_delete(this);
		});
		$(".user_choice_why_answered").live('swiperight', function() {
			hide_delete(this);
		});
	});
	
	function show_delete(thisObject){
		$(thisObject).children('.delete-entry').css('right','0px');
	}
	function hide_delete(thisObject){
		$(thisObject).children('.delete-entry').css('right','-150px');
	}
	</script>
{% endblock %}


