<!-- 
{% extends "layout.html" %}  
<body>
{% block body %}
 -->

<body>

<div id="fb-root">
      <ul>
        </fb:login-button></li>
      <!--   <li class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></li> -->

      <!-- <li><a href="/logout" onclick="FB.logout();">Logout</a></li> -->

        <li><fb:login-button show-faces="true" width="200" max-rows="1">
        <!-- <li><img src="http://graph.facebook.com/<?= $12202109 ?>/picture?type=large"></li> -->
        </ul>
      </ul>
</div>


<form method="POST" role="form" id="fb_friends" action="/display_fb_friends">

<button type="submit" label="move on"></button></form>

</body>

<script>
  

    (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=238836302966820";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

 
      var permissions = null; // stores the permissions the user had granted the app
      var deauth = null;
      var removePublishActions = null;
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '238836302966820', // App ID
          channelUrl : '//'+window.location.hostname+'/channel', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

      // autologin & permissions check
        FB.Event.subscribe('auth.statusChange', function(rsp) {
          console.log(rsp)
          if (rsp.authResponse) {
            FB.api('/me', function(me){
              console.log(me)

                var html = "";
                html += '<input type="text" name="userid" class="form-control" value='+me.id+'>';
                html += '<input type="text" name="user_name" class="form-control" value='+me.first_name+'>';
                html += '<input type="text" name="user_last_name" class="form-control" value='+me.last_name+'>';
                

                       
                $("#fb_friends").append(html);

              document.getElementById('fb-username').innerHTML = me.name;
              document.getElementById('fb-login-button').style.display = 'none';
              document.getElementById('fb-loggedin').style.display = 'block';
            });
            // get the permissions the user's already granted, we'll need them later
            FB.api('/me/permissions', function(response){
              if (response) {
                console.log(response.data[0]);
                permissions = response.data[0]; 


              var myPlace = ["place"];

                //Get my friends
              FB.api('/me/friends', function(response){

                var totalFriends = response.data;
                var friendsIDinfo = [];
                var friendsIDinfoString = '';

                for(var i = 0; i< totalFriends.length; i++){
                  console.log("inside loop of all friends");
                  
                    friendsIDinfo.push(totalFriends[i].id);

                }
                friendsIDinfoString = friendsIDinfo.toString();
                console.log("totalFriends length = " + totalFriends.length);
                console.log("friendsIDinfoString array: " + friendsIDinfoString);

                var html = "";
                // html += '<input type="hidden" name="user_totalFriends" class="form-control" value='+totalFriends+'>';
                html += '<input type="text" name="user_totalFriends" class="form-control" value='+totalFriends+'>';
                html += '<input type="text" name="user_friends" class="form-control" value='+friendsIDinfo+'>';
                $("#fb_friends").append(html);


                console.log("MY FRIENDS!!!");
                console.log(response);
                console.log(response.data[3].name);

                $.each(response.data, function(i, item) {
                var html = "";
                html += '<input type="text" name="'+i+'name" class="form-control" value='+item.name+'>';
                html += '<input type="text" name="'+i+'id" class="form-control" value='+item.id+'>';
          
                $("#fb_friends").append(html);

              });


              //now push the id info into the friends array in the db

              



              // redirect



                //make request to database to get all users names
                //save user's unique facebook id in database
                //then its a comparison game (looks like these people from your friends list are last eats 
                //memebrs as well)
                
              })




              }
            })
          } else {
            document.getElementById('fb-login-button').style.display = 'block';
            document.getElementById('fb-loggedin').style.display = 'none';

          }
        })

        // // Cook Action
        // document.getElementById('cook-button').addEventListener('click', function(e){
        //   if (!permissions || 
        //       (permissions && !permissions.publish_actions)){
        //     // user had not granted publish_actions, has not auth'd this app, or is not logged in to Facebook
        //     console.log('user needs to grant publish_actions permission, login, or auth this app')
        //     FB.login(function(rsp){
        //       FB.api('/me/permissions', function(response){
        //         console.log(response.data[0]);
        //         permissions = response.data[0];
        //       })
        //       // Could re-attempt to publish here, but won't for simplicity
        //     },{scope:'publish_actions'})
      
        //   } else {
        //     // all good, let try and publish an action using the og:url tag as the object URL
        //     FB.api('/me/simonsfoodapp:cook', 'POST', {
        //       "recipe": document.getElementById('og-url').getAttribute('content')
        //     }, function(rsp){
        //       console.log(rsp)
        //       if (rsp.id) {
        //         alert('action published with ID: ' + rsp.id)
        //       }
        //     })
        //   }
        // })
        
        // removes the authentication between the user and the app
        deauth = function(){
          FB.api('/me/permissions', 'DELETE', function(rsp){
            if (rsp) {
              console.log(rsp)
              window.location.reload()
            }
          })
        }
        
        // removes the publish_actions for the user
        removePublishActions = function(){
          FB.api('/me/permissions/publish_actions', 'DELETE', function(rsp){
            if (rsp) {
              console.log(rsp)
              window.location.reload()
            }
          })
        }
        
        
      }; // end fbAsyncInit

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
       

   </script>
<!-- 
{% endblock %} -->



