
{% extends "layout.html" %}  

{% block body %}


<body>

  <div id="fb-root">
        <ul>
        <li><fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button></li>
        </ul>
      </ul>

  </div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 238836302966820,
          status     : true,
          xfbml      : true
        });

        FB.Event.subscribe('auth.authResponseChange', function(response) {
            if (response.status === 'connected') {
              facebookIsLoaded();
             FB.api('/me', function(me) {  
                if (me.name) {  
                    document.getElementById('auth-displayname').innerHTML = me.name;  
                    updateUserInfo(response);  
                }  
            })  
            document.getElementById('auth-loggedout').style.display = 'none';  
            document.getElementById('auth-loggedin').style.display = 'block';  
            } else {
             FB.login();
           }
         });
      };
            // user has not auth'd your app, or is not logged into Facebook  
    //         document.getElementById('auth-loggedout').style.display = 'block';  
    //         document.getElementById('auth-loggedin').style.display = 'none';  
    //     }  
    //      $("#auth-loginlink").click(function() { FB.login(); });  
    //      $("#auth-logoutlink").click(function() { FB.logout(function() { window.location.reload(); }); }); 
    //       }
    // );
    // } 



   
     

           // listen for and handle auth.statusChange events  
 
        //here is where i should add the log in button info 


      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);        
       }(document, 'script', 'facebook-jssdk'));


      function facebookIsLoaded(){
          //here is callback from within done
          // LE.facebook.getFriends().done(
          //   function(friends) {
          //     console.log(friends);
          // });

          // LE.facebook.getFriendsOnLastEats().done(
          //   function(friends){
            
          // });
          
          //Dont use LE facebook until here
          LE.facebook.init().done(function(){
            LE.facebook.getFriendsOnLastEats().done(function(friends){
              console.log(friends);
            });
          });
      }
    </script>

</body>




{% endblock %}


