{% extends "skeleton.html" %}

{% block style %}
<meta property="og:image" content="http://beta.lasteats.com/static/assets/img/CURRENT_LOGO_WHITE.png">
<meta name="Description" content="Find the best meals chosen by your friends for cities all over the world.">
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos mainScroller" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong>Welcome {{ user.user_name }}!</strong>
		</div><!-- /demo-html -->
		<br>
		
		<fieldset data-role="controlgroup" data-type="horizontal" >
			
			{% if user.friends|length > 0 %}
				<input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" onclick="get_newsfeed('all')" />
	     		<input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" checked="checked" onclick="get_newsfeed('friends')" />
			{% else %}
				<input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" checked="checked" onclick="get_newsfeed('all')" />
	     		<input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" onclick="get_newsfeed('friends')" />
			{% endif %}
			
	     	<label for="radio-choice-1" onclick="get_newsfeed('all')">All</label>
	     	<label for="radio-choice-2" onclick="get_newsfeed('friends')">Friends</label>
	     	
	     	
	     	<input type="radio" name="radio-choice" id="radio-choice-3" value="choice-3" onclick="get_newsfeed('hot')" />
	     	<label for="radio-choice-3" onclick="get_newsfeed('hot')">Hot</label>
		</fieldset>
		<br>
		
		<div class='newsfeed'>
			<div  class='loading' style='text-align:center;'>Loading . . . .</div>
		</div>
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
	</div>
	
</div><!-- /page -->
{% endblock %}

{% block scripts %}
<script>
	var LATITUDE = undefined;
	var LONGITUDE = undefined;
	
	$(document).ready(function(){
		// Try W3C Geolocation (Preferred)
		if(navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition(function(position) {
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				
				LATITUDE = position.coords.latitude;
				LONGITUDE = position.coords.longitude;
				
				if ({{ user.friends|length }} > 0){
					get_newsfeed('friends');
				}
				else {
					get_newsfeed('all');
				}
				
			}, function() { handleNoGeolocation(browserSupportFlag); });
		}
		// Browser doesn't support Geolocation
		else {
			browserSupportFlag = false;
			handleNoGeolocation(browserSupportFlag);
		}
	});
	
	function handleNoGeolocation(errorFlag) {
		if (errorFlag) {
			console.log('Error: The Geolocation service failed.');}
		else {
			console.log('Error: Your browser doesn\'t support geolocation.');}
			
		get_newsfeed();
	}
	
</script>

<script src="/static/js/newsfeed.js"></script>
<script src="/static/js/comment.js"></script>
{% endblock %}


