
{% for id in ideaIds -%}
<div style='border:#ddd thin solid;border-radius:4px; margin-bottom:20px;padding:0px 10px;'>
	<a href="/last_eat_entry?id={{ id }}" data-role="button" class="ui-link ui-btn ui-shadow ui-corner-all" role="button" style='border:none;box-shadow:none;padding:0px;background:none;'>
		<div class="user_choice_why">
			<img src="{{ friends[ideas[id].userid].picture }}" height="85" width="85">
			<h2>{{ friends[ideas[id].userid].user_name }} just made <strong>{{ ideas[id].restaurant_name }}</strong> the Last Eats in {{ ideas[id].title }}</h2>
			{% if ideas[id].distance %}
				<h3 style='float:right;font-weight:normal;'>{{ ideas[id].distance }} miles</h3>
			{% endif %}
			
		</div>
		<div class="restaurant_photo">
			<img src="{{ ideas[id].filename['url'] }}"><br>
		</div>
	</a>
		
	<div class="restaurant_photo_bottom" num="{{ id }}">
		<div style='float:right;'>
			<a href='https://www.facebook.com/dialog/feed?app_id=238836302966820&link=http://beta.lasteats.com/last_eat_entry?id={{ id }}&redirect_uri=http://beta.lasteats.com/newsfeed'>
			<img class='facebookIcon' src='/static/img/facebookIcon.png' style='width:44px;' /></a>
			<a href='https://twitter.com/intent/tweet?text=http://beta.lasteats.com/last_eat_entry?id={{ id }}' target='_blank'><img class='twitterIcon' src='/static/img/twitterIcon.png' style='width:44px;' /></a>
		</div>
		
		{% if user.userid in ideas[id].likes %}
			<div class='icon loveicon loved' onclick='loveIdea(this, "{{ id }}")'></div>
		{% else %}
			<div class='icon loveicon love' onclick='loveIdea(this, "{{ id }}")'></div>
		{% endif %}
		
		{% if id in user.saves %}
			<div class='icon saveicon saved' onclick='saveIdea(this, "{{ id }}")'></div>
		{% else %}
			<div class='icon saveicon save' onclick='saveIdea(this, "{{ id }}")'></div>
		{% endif %}
		
		<div style='display: inline-block;vertical-align: top;font-size: 1.2em;padding: 10px 5px;'>
			<div class='likeCount' style='display:inline-block;'>{{ ideas[id].like_count }}</div> people love this</div>
	</div>
	<br>
		
	{% if current_user != None %}
	<div class='comments' num='{{ id }}'>
	{% for comment in comments[id] -%}
		<div class="comment entry">
			<img src="{{ friends[comment.userid].picture }}"/>
			<span><strong>{{ friends[comment.userid].user_name }} {{ friends[comment.userid].user_last_name }}</strong></span>
			<span>{{ comment.comment_string }}</span>
			
			{% if current_user == comment.userid %}
				<div class='delete-entry transition' onclick='delete_comment(this, "{{ comment.id }}")' >X</div>
			{% endif %}
			<div style='clear:both;width:100%;'></div>
			
		</div>
		
	{%- endfor %}
	</div>
	<div class="guest_book" num='{{ id }}'>
		<textarea name="textarea" id="textarea" placeholder="Been here? Tell {{ friends[ideas[id].userid].user_name }} about your experience" 
		class='ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow' style='padding:10px;'></textarea>
	</div><!-- /demo-html -->
	<br>
	{% endif %}
</div>

{%- endfor %}
