{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong><p>Your Last Eats</p></strong>
		</div><!-- /demo-html -->
		
		{% if ideas|length == 0 %}
			<p>You don't have any Last Eats yet! Add one <a href='/add_last_eats'><b>here</b></a>.</p>
		{% endif %}
		
		{% for item in ideas -%}
		<div class='entry'>
			<a href="/last_eat_entry?id={{ item.id }}" data-role="button">
				<div class="user_choice_why">
					<div class="centered" style='padding-bottom:10px;'><h2>{{ item.restaurant_name }} in {{ item.title }}</h2></div>
				</div>
				
				<div class="restaurant_photo"><img src="{{ item.filename }}"></div>
			</a>
			<div class='delete-entry transition' onclick='delete_entry(this, "{{ item.id }}")' >X</div>
		</div>
		{%- endfor %}
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
	
	</div><!-- /panel -->
</div><!-- /page -->

{% endblock %}

{% block scripts %} 
<script>

$(document).on('pageinit', function(event){
	$(".entry").swiperight(function() {
		show_delete(this);
	});
	$(".entry").swipeleft(function() {
		hide_delete(this);
	});
});

function show_delete(thisObject){
	$(thisObject).children('.delete-entry').css('right','0px');
}
function hide_delete(thisObject){
	$(thisObject).children('.delete-entry').css('right','-150px');
}

function delete_entry(thisObject, id){
	$.ajax({
		url: 'profile',
		type: "delete",
		data: {'id': id},
		success: function(value) {
			$(thisObject).parent().remove();
		}
	});
}

</script>

{% endblock %}


