

{% for item in ideas -%}
	<div class='entry'>
		<a href="/last_eat_entry?id={{ item.id }}" class='ui-link ui-btn ui-shadow ui-corner-all' data-role="button">
			<div class="user_choice_why">
				<div class="centered" style='padding-bottom:10px;'><h2 style='display:inline-block;'>{{ item.restaurant_name }} in {{ item.title }}</h2></div>
			</div>
			
			<div class="restaurant_photo"><img src="{{ item.filename }}"></div>
		</a>
		<div class='delete-entry transition' onclick='delete_entry(this, "{{ item.id }}")' >X</div>
	</div>
{%- endfor %}