{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong><p>Your Last Eats</p></strong>
		</div><!-- /demo-html -->
		
		{% for item in ideas -%}
		<a href="/last_eat_entry?id={{ item.id }}" data-role="button">
			<div style='padding-bottom:10px;'><strong>{{ item.restaurant_name }} in {{ item.title }}</strong></div>
			<div class="my_last_eats"></div>
			
			<div class="restaurant_photo"><img src="{{ item.filename }}"></div>
		</a>
		{%- endfor %}
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
	
	</div><!-- /panel -->
</div><!-- /page -->

{% endblock %}

