{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong>Welcome {{ user.user_name }}!</strong>
		</div><!-- /demo-html -->
		<br>
		
		<div class="my_friends_header">
			<strong><h2>Saved</h2></strong>
		</div>
		
		<br>
		
		<div class='newsfeed'>
			<div class='loading' style='text-align:center;'>Loading . . . .</div>
		</div>
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
	</div>
	
</div><!-- /page -->
{% endblock %}

{% block scripts %}
<script>
	var LATITUDE = undefined;
	var LONGITUDE = undefined;
	
	$(document).ready(function(){
		// Try W3C Geolocation (Preferred)
		if(navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition(function(position) {
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				
				LATITUDE = position.coords.latitude;
				LONGITUDE = position.coords.longitude;
				
				get_newsfeed('saved');
				
			}, function() { handleNoGeolocation(browserSupportFlag); });
		}
		// Browser doesn't support Geolocation
		else {
			browserSupportFlag = false;
			handleNoGeolocation(browserSupportFlag);
		}
	});
	
	function handleNoGeolocation(errorFlag) {
		if (errorFlag) {
			console.log('Error: The Geolocation service failed.');}
		else {
			console.log('Error: Your browser doesn\'t support geolocation.');}
			
		get_newsfeed();
	}
	
</script>

<script src="static/js/newsfeed.js"></script>
{% endblock %}


