{% extends "skeleton.html" %}

{% block style %}
{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos" data-quicklinks="false">
	{% include "header.html" %}
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false">
		
		</br>
		
		<div class="user_photo"><img src="{{ user.picture }}" height="125" width="125"></div>
		
		<div class="user_restaurant">
			<strong>Welcome {{ user.user_name }}!</strong>
		</div><!-- /demo-html -->
		<br>
		
		<div class="my_friends_header">
			<strong><h2>Saved</h2></strong>
		</div>
		
		<br>
		
		<div class='newsfeed'>
			<div class='loading' style='text-align:center;'>Loading . . . .</div>
		</div>
		
		{% include "add_button.html" %}
		
		{% include "sidebars.html" %}
	</div>
	
</div><!-- /page -->
{% endblock %}

{% block scripts %}
<script src="/static/js/mapquest.js"></script>
<script>
	$(document).ready(function(){
		html5Geoloc(loadedGeo)
	});
	function loadedGeo(){
		get_newsfeed('saved');
	}
</script>

<script src="/static/js/newsfeed.js"></script>
{% endblock %}


