
<div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
	<ul class="jqm-list ui-alt-icon ui-nodisc-icon">
		<li data-filtertext="demos homepage" data-icon="home"><a href="/profile">My Last Eats</a></li>
		
		<li data-filtertext="introduction overview getting started"><a href="/add_last_eats" data-ajax="false">Add Last Eats</a></li>
		
		<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false">
			<h3>Browse Last Eats</h3>
			<ul>
				<li data-filtertext="buttons in grids css framework"><a href="/newsfeed" data-ajax="false">By Newsfeed</a></li>
				<li data-filtertext="buttons in grids css framework"><a href="/my_friends" data-ajax="false">By Friends</a></li>
				<li data-filtertext="buttons in grids css framework"><a href="/city_filter" data-ajax="false">By City</a></li>
			</ul>
		</li>
		
		<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false">
			<h3>Request Last Eats</h3>
			<ul>
				<li data-filtertext="grids columns blocks content formatting rwd responsive css framework"><a href="/le_requests" data-ajax="false">Request</a></li>
				<li data-filtertext="buttons in grids css framework"><a href="/answered" data-ajax="false">Answered</a></li>
			</ul>
		</li>
		
		<li data-filtertext="buttons in grids css framework"><a href="/pinned">Saved</a></li>
		
		<li data-filtertext="buttons in grids css framework"><a href="mailto:lasteats@gmail.com" data-ajax="false">Contact Us</a></li>
		
		<li data-filtertext="buttons button markup buttonmarkup method anchor link button element"><a href="/logout" data-ajax="false">Logout</a></li>
	</ul>
</div>

<div data-role="panel" class="jqm-search-panel" data-position="right" data-display="overlay" data-theme="a">
	<ul class="jqm-search ui-listview notifyContent">
		<div style='text-align:center;'>Loading . . . .</div>
	</ul>
</div><!-- /panel -->

