<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Last Eats</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/jquery.mobile-1.4.2.min.css">
	<link rel="stylesheet" href="static/assets/css/jqm-demos.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
	{% block style %}{% endblock %}
</head>

<body>
	
	{% block body %}{% endblock %}
	
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/instaslider.jquery.js"></script>
	<script src="static/js/index.js"></script>
	<script src="static/js/demo.js"></script>
	<script src="static/js/jquery.ui.map.js"></script>
	<script src="static/js/jquery.mobile-1.4.2.min.js"></script>
	<script src="static/js/jquery.cookie.js"></script>
	<script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>