{% extends "skeleton.html" %}

{% block style %}
<meta property="og:image" content="http://beta.lasteats.com/static/assets/img/CURRENT_LOGO_WHITE.png">
<meta name="Description" content="Find the best meals chosen by your friends for cities all over the world.">

<style>
.testHeader {
	background: url('{{city_img}}');
	background-size: cover;
}

.main-content {
	max-width:none;
	padding: 0px 5%;
}

.inline {
	display:inline-block;
	vertical-align:top;
}
.ui-select .ui-btn {
	padding: 7px;
	font-size: 14px;
	padding-right: 37px;
	margin-right: 10px;
	font-weight: normal;
}
.ui-select, .ui-input-text {
	display: inline-block;
	vertical-align: top;
}

.newsfeedItem {
	display: inline-block;
	float: left;
	width: 30%;
	margin: 0px 1%;
	padding:0px .5%;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio {width: auto;}

.searchEats {display:none;}
.searchEats .col {
	display: inline-block;
	width: 30%;
	margin: 0px 1%;
	padding: 0px .5%;
}

.searchDetail {
	margin: 0px 1%;
	padding: 20px .5%;
	display:none;
}
.searchDetail .searchDetailItem {
	display:inline-block;
	padding:0px 20px 0px 0px;
	vertical-align:top;
	opacity: .6;
	text-align:center;
}
.searchDetail .searchDetailItem:hover, .searchDetail .searchDetailItem.active {opacity: 1;cursor: pointer;}

.searchType {
	opacity: .6;
	max-width:100%;
}
.searchType:hover, .searchType.active {
	opacity: 1;
	cursor: pointer;
}

.testHeader .ui-select {
	width: 280px;
}
.testHeader .ui-select .ui-btn {
	padding: 10px 15px;
	margin:0px;
}
</style>

{% endblock %} 

{% block body %}

<div data-role="page" class="jqm-demos mainScroller" data-quicklinks="false">
	<div class='hiddenSlider transition' style='background:#f95d64;color:white;text-shadow:none;position:relative;overflow:hidden;height:0px;'>
		<div class='hiddenSliderCont'>
				<div><br></div>
			
			<div style='color: #f95d64;font-size: 2em;background: white;position: absolute;right: 10px;top: 10px;
							padding: 0px 9px;border-radius: 100px;cursor:pointer;z-index:10;' onclick='$(this).parent().parent().height("0px")'>&#10006;</div>
			
			<div class='col-sm-4 transition active' num='1' style='left:0%;'>
				<img src='/static/img/top1.png' style='width:240px;' />
				<h2>That one special place</h2>
				<div>Last Eats is a place to showcase your favorite meal in a city -- the one place
					that you love most right now. Add as many cities as you want!</div>
				<div class='mobileContent'>
					<div class='hiddenDot active'></div>
					<div class='hiddenDot '></div>
					<div class='hiddenDot '></div>
				</div>
			</div>
			
			<div class='col-sm-4 transition' num='2'>
				<img src='/static/img/top2.png' style='width:240px;'/>
				<h2>Friends helping friends find great food</h2>
				<div>Word of mouth recommendations from the people you know and trust the most.
					If you only had time for one meal, where would you go?</div>
				<div class='mobileContent'>
					<div class='hiddenDot '></div>
					<div class='hiddenDot active'></div>
					<div class='hiddenDot '></div>
				</div>
			</div>
			
			<div class='col-sm-4 transition' num='3'>
				<img src='/static/img/top3.png' style='width:240px;' />
				<h2>Restaurants change and so can you</h2>
				<div>Just like with your Facebook profile photo, nothing is set in stone.  Share the places you love the most right now
					and change them whenever you like.</div>
				<div class='mobileContent'>
					<div class='hiddenDot '></div>
					<div class='hiddenDot '></div>
					<div class='hiddenDot active'></div>
				</div>
				
			</div>
			
			<div class='mobileContent'>
				<div class='arrowLeft' style='top:30%;' onclick='swipeCol(-1)'></div>
				<div class='arrowRight' style='top:30%;' onclick='swipeCol(1)'></div>
			</div>
			<br><br>
		</div>
	
	</div>
	
	<div class='testHeader'>
		<div style='padding:20px 1%;'>
			<a href="/newsfeed" title="Last Eats home"><img src="/static/img/logo.png" style='width:50px;'></a>
			<!-- <p><span class="jqm-version"></span> Demos</p> -->
			<a href="#" style='float:right;' onclick='getNotifications()'>
				<div class="user_photo" style='display:inline-block;'><img src="{{ user.picture }}" height="50" width="50"></div>
				<div style='display: inline-block;vertical-align: top;padding-top: 16px;padding-left: 10px;'>
					{{user.user_name}} {{user.user_last_name}}</div>
			{% if user and user.notify_count > 0  %}
				<div class='userNotifyCount'>{{ user.notify_count }}</div>
			{% endif %}
			</a>
		</div>
		
		<div style='text-align:center;font-size:2em;padding:20px 0px 80px;'>
			<h1><span>Good {{time_of_day}}, <span class='city'>New York</span></h1>
			<h3>Find the best meals as chosen by your friends for all over <span class='city'>New York</span></h3>
			
			<a style='display: inline-block;margin: 5px 0px;padding: 15px 15px;width: 250px;margin-bottom: 15px;text-shadow: none;border:2px solid red;' data-role="button" 
					onclick='$(".hiddenSlider").height($(".hiddenSliderCont .col-sm-4").height()+parseInt($(".hiddenSliderCont .col-sm-4").css("padding-top"))*2+38)' 
					style='border:none;'>How It Works</a>
			
			<div><select name="select-city" id="select-city">
				{% for c in cities %}
					<option value="{{c}}" {%if c == city%}selected='selected'{%endif%}>{{c}}</option>
				{% endfor %}
			</select></div>
			
		</div>
	</div>
	
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false" style='background:white;'>
		</br>
		<div style='text-align:left;font-size:14px;margin-bottom:30px;'>
			<div data-role="fieldcontain" style='margin: 0px 1%;padding: 0px .5%;'>
				<fieldset data-role="controlgroup" data-type="horizontal" >
				<input type="radio" name="radio-choice-2" id="radio-choice-21" value="add" checked="checked" />
				<label for="radio-choice-21">Add Eats</label>
				
				<input type="radio" name="radio-choice-2" id="radio-choice-22" value="search"  />
				<label for="radio-choice-22">Search Eats</label>
				
				</fieldset>
			</div>
			<br>
			<div class='addEats' style='margin: 0px 1%;padding: 0px .5%;'>
				<div>
					<div class='error_message' style='display:none;padding:5px 0px;margin:5px 0px;background:#faa;'></div>
					<div class='inline' style='padding-right:5px;padding-top: 11px;'>If I only had time for one meal in: </div>
					<div class='inline' >
						<select name="city" id="select-city-2">
							{% for c in cities %}
								<option value="{{c}}" {%if c == city%}selected='selected'{%endif%}>{{c}}</option>
							{% endfor %}
						</select>
			
						<!--<input type="text" name="textinput-4" id="textinput-4" placeholder="Enter a City" value="" style='width:230px;'>
						<input type="text" name="textinput-5" id="textinput-5" placeholder="Enter a City" value="" style='width:230px;'>-->
					</div>
					<input type="hidden" id="cityLat" name="cityLat" />
					<input type="hidden" id="cityLng" name="cityLng" />
				</div>
				
				<div>
					<div class='error_message3' style='display:none;padding:5px 0px;margin:5px 0px;background:#faa;'></div>
					<div class='inline' style='padding-right:5px;padding-top: 12px;'>and I wanted </div>
					<div class='inline'>
						<select name="select-choice-1" id="select-choice-1">
							<option value="">Choose a tag</option>
							<optgroup label="Thematic:">
								{% for row in thematic %}
								<option value="{{row}}">{{row}}</option>
								{%endfor%}
							</optgroup>
							<optgroup label='Specific:'>
								{% for row in specific %}
								<option value="{{row}}">{{row}}</option>
								{% endfor %}
							</optgroup>
						</select>
						
						<input id="tag" class="controls" type="text" name='tag' placeholder="or make your own tag!" value="">
					</div> 
				</div>
				
				<div>
					<div class='error_message2' style='display:none;padding:5px 0px;margin:5px 0px;background:#faa;'></div>
					<div class='inline' style='padding-right:5px;padding-top: 11px;'>I'd go to: </div>
					<div class='inline' id="geocode">
						<input id="address" class="controls" type="text" placeholder="Enter a Restaurant" value="" style='width:375px;'>
						<input type="hidden" id="addressName" name="addressName" />
						<input type="hidden" id="addressLat" name="addressLat" />
						<input type="hidden" id="addressLng" name="addressLng" />
					</div> 
				</div>
				
				<div>
					<div class='error_message4' style='display:none;padding:5px 0px;margin:5px 0px;background:#faa;'></div>
					<div class='inline' style='padding-right:5px;padding-top: 11px;'>and I'd order </div>
					<div class='inline' ><input type="text" name="order" id="order" placeholder="" value="" style='width:300px;'></div>
				</div>
				
				<div class="form_next"><a data-role="button" style="color: white !important;background: #fc5d61;display:inline-block;text-shadow:none;" onclick='moveOn()'>Submit Your Eats!</a></div>
			</div>
			
			<div class='searchEats'>
				<div style='padding:20px 0px;'>
					<div class='col' ><img class='searchType' onclick='showSearch("mood", this)' src='../static/img/search_cover_1.png' title='Mood Food' /></div>
					<div class='col'><img class='searchType' onclick='showSearch("type", this)' src='../static/img/search_cover_2.png' title='Type of Food' /></div>
					<div class='col'><img class='searchType' onclick='mapSearch(this)' src='../static/img/search_cover_3.png' title='Near Me Now' /></div>
				</div>
				
				<div num='1' class='searchDetail mood'>
					<h1 style='padding:20px 0px;'>{{mood}}</h1>
					{% for mood in moods %}
					<div class='searchDetailItem' onclick="testQuery('{{mood['name']}}','')"><img src='../static/img/{{mood['img']}}' /> <h2>{{mood['name']}}</h2></div>
					{% endfor %}
				</div>
				<div num='1' class='searchDetail type'>
					<h1 style='padding:20px 0px;'>Filter by type of food</h1>
					{% for type in types %}
					<div class='searchDetailItem' onclick="testQuery('','{{type['name']}}')"><img src='../static/img/{{type['img']}}' /> <h2>{{type['name']}}</h2></div>
					{% endfor %}
				</div>
				
				<div num='1' class='searchDetail'></div>
			</div>
		</div>
	</div>
	<div role="main" class="ui-content jqm-content main-content" data-ajax-warning="false" style='padding-bottom:100px;'>
		<div class='newsfeed' style='text-align:left;font-size:14px;'>
			<h1>Recent Declarations</h1>
			
			<div data-role="fieldcontain" style='padding: 20px 0px;'>
				<fieldset data-role="controlgroup" data-type="horizontal" >
				<input type="radio" name="price" id="bang" value="bang" />
				<label for="bang">Bang for the Buck</label>
				
				<input type="radio" name="price" id="pricey" value="pricey"  />
				<label for="pricey">A bit more expensive</label>
				</fieldset>
			</div>
			
			<div class='ideaContent' style='padding-bottom:60px;'>
			{% include "newsfeed_content.html"%}
			</div>
			<div style='clear:both;'></div>
		</div>
		
		{% include "sidebars.html" %}
		
		
		<div id="map_canvas" class="map" style='height:700px;' ></div>
		<div id='multimap'></div>
		
	</div>
</div><!-- /page -->
{% endblock %}

{% block scripts %}
<script src="/static/js/mapquest.js"></script>
<script>
var CITY = '{{city}}';
var TYPE = '';
var MOOD = '';
var PRICE = '';

var city_gps = {'Manhattan':[40.790278, -73.959722],
				'Brooklyn':[40.692778, -73.990278],
				'Queens':[40.75, -73.866667],
				'The Bronx':[40.8373, -73.886],
				'Staten Island':[40.576281, -74.144839]};

var mapPins = new Array();

$(document).ready(function(){
	$('#select-choice-1').change(function(){
		if ($(this).val() == '' ){$('#tag').textinput('enable');}
		else{$('#tag').textinput('disable');}
	});
	$('#tag').keyup(function(){
		if ($(this).val() == '' ){$('#select-choice-1').selectmenu('enable');}
		else{$('#select-choice-1').selectmenu('disable');}
	});
	
	$('input[name=radio-choice-2]').change(function(){
		if ($(this).val() == 'search'){
			$('.searchEats').show();
			$('.addEats').hide();
		}
		else{
			$('.searchEats').hide();
			$('.addEats').show();
		}
	});
	
	$('#select-city').change(function(){
		CITY = $(this).val();
		testQueryEx();
	});
	$('input[name=price]').change(function(){
		PRICE = $(this).val();
		testQueryEx();
	});
	
	$('#select-city-2').change(function(){
		if (autocomplete){
	        var lati = city_gps[$(this).val()][0];
	        var long = city_gps[$(this).val()][1];
	        $('#cityLat').val(lati);
			$('#cityLng').val(long);
	        var s = new google.maps.LatLng(lati,long);
	        var n = new google.maps.LatLng(lati,long);
	        
	        var boundary = new google.maps.LatLngBounds(s,n);
	        autocomplete.setBounds(boundary);
		}
	});
	
	
	createPins();
});

function createPins(){
	hidePins();
	
	var icon = {'Multiple Reccomendations':'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
				'Newest':'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
				'Friends':'http://maps.google.com/mapfiles/ms/icons/green-dot.png'}
	for (var i = 0; i < mapData.length; i++){
		createMarker(mapData[i].lat, mapData[i].lng, mapData[i].title, '/last_eat_entry/'+mapData[i].id, {'url':icon[mapData[i].filter]});
	}
	setFirstCenter();
}
function hidePins(){
	for (var i = 0; i < mapPins.length; i++ ){
		mapPins[i][0].setVisible(false);
	}
}
function setFirstCenter(){
	$('#map_canvas').gmap('get','map').setCenter(mapPins[0][0].position);
	$('#map_canvas').gmap('get','map').setZoom(13);
}

function mapSearch(thisObject){
	$('.searchDetail').hide();
	$('.searchType').removeClass('active');
	$(thisObject).addClass('active');
	MOOD = '';
	TYPE = '';
	PRICE = '';
	
	testQueryEx();
}

function showSearch(type, thisObject){
	$('.searchDetail').hide();
	$('.searchDetail.'+type).show();
	
	$('.searchType').removeClass('active');
	$(thisObject).addClass('active');
}

var ajax_loading = 0;
function moveOn(){
	
	var city = $('select[name=city]').val();
	var addressName = $('#addressName').val();
	var addressLat = $('#addressLat').val();
	var addressLng = $('#addressLng').val();
	var tag = $('input[name=tag]').val();
	var order = $('input[name=order]').val();
	if (tag == ''){
		tag = $('select[name=select-choice-1]').val();
	}
	
	var warned = false;
	if ($('.error_message').css('display') != 'none'){
		warned = true;}
	
	if (addressName == '' || addressLat == '' || addressLng == ''){
		$('.error_message2').html("Sorry we couldn't find that restaurant");
		$('.error_message2').show();
	}
	else if ($('#cityLat').val() == '' && reqId == undefined){
		$('.error_message').html("Sorry we couldn't find that city");
		$('.error_message').show();
	}
	
	else if (ajax_loading == 0){
		$('.form_next a').html('Loading . . . ');
		ajax_loading = 1;
		$.ajax({
			url: 'add_last_eats',
			type: "post",
			data: {'city': city,
					'addressName': addressName,
					'addressLat': addressLat,
					'addressLng': addressLng,
					'tag': tag,
					'order': order,
					'requestid': reqId,
					'warned': warned},
			success: function(value) {
				ajax_loading = 0;
				console.log(value);
				if('error' in value && $('.error_message').css('display') == 'none'){
					$('.error_message').html(value.error);
					$('.error_message').show();
					$('.form_next a').html('Submit');
				}
				else{
					window.location.reload();
				}
			},
			error: function(xhr, status, error) {
				console.log(xhr.responseText);
				$('.form_next a').html('Woops we hit an error!');
			}
		});
	}
	
}

{% if req %}
var req = {'lati': {{ req.point.coordinates[1] }},'long': {{ req.point.coordinates[0] }}};
var reqId = "{{ req.id }}";
$("#textinput-4").val("{{ req.get_res.full_city }}");
$("#textinput-4").prop('disabled', true);

{% else %}
var reqId = undefined;

{% endif %}

function delete_entry(thisObject, id){
	$.ajax({
		url: 'profile',
		type: "delete",
		data: {'id': id},
		success: function(value) {
			$(thisObject).parent().remove();
			window.location.reload();
		}
	});
}

function testQuery(mood,type){
	MOOD = mood;
	TYPE = type;
	testQueryEx();
}
function testQueryEx(){
	$('.ideaContent').html('<h1>LOADING</h1>');
	$.ajax({
		url: 'testfeedquery',
		type: "get",
		data: {'mood': MOOD,'type':TYPE,'city':CITY,'price':PRICE, 'lat':LATITUDE, 'lng':LONGITUDE},
		success: function(value) {
			$('.ideaContent').html(value);
			createPins();
		}
	});
}
</script>

{% endblock %}


